@keyframes colorChange {
  0% {
    color: #000;
  }
  50% {
    color: #0900ab;
  }
  100% {
    color: #000;
  }
}

.animated-text {
  animation: colorChange 2s infinite;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

.btn-login {
  background-color: rgb(25, 1, 78);
  color: aliceblue;

  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(13, 0, 129);
    transition: 0.4s;
  }

  width: 30%;
}

.btn-cadastrar {
  color: #000;
  border: 2px solid rgba(173, 216, 230, 0.5);
  background-color: transparent;

  &:hover {
    background-color: rgba(173, 216, 230, 0.1);
  }
}

.custom-spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .custom-spacing {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 2rem;
    padding-top: 5rem;
  }

  .btn-login {
    width: 50%;
  }
}

/* Efeito de hover suave nos cards */
.service-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px); /* Leve elevação no hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra mais forte */
}

.service-card .btn {
    margin-top: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.service-card .btn:hover {
    background-color: #0056b3; /* Cor de hover mais escura */
}
