<section class="d-flex align-items-center vh-100 px-3 custom-spacing">
    <div class="container d-flex align-items-center justify-content-between flex-column flex-md-row">
        <article class="col-md-6 mb-4 mb-md-0">
            <h1 class="display-4">Bem-vindo ao <span class="animated-text">Admin Flow</span></h1>
            <h3 class="text-muted mb-3">Seu sistema de gerenciamento de usuários</h3>
            <p class="lead">
                Administre de forma prática e eficiente. Cadastramento, edição e visualização de usuários em uma
                plataforma simplificada. Facilite o controle e tenha todas as informações em um só lugar.
            </p>
            <div class="d-flex justify-content-start">
                <button class="btn btn-login me-2" data-bs-toggle="modal" data-bs-target="#loginModal">Entrar</button>
                <a class="btn btn-secondary border-light" routerLink="/auth/cadastro">Cadastrar</a>
            </div>
        </article>
        <figure class="col-md-5 text-center">
            <img src="assets/img/banner-principal.jpg" class="img-fluid rounded shadow" alt="Imagem de boas-vindas">
            <figcaption class="sr-only">Imagem de boas-vindas ao Admin Flow</figcaption>
        </figure>
    </div>
</section>

<app-login-modal></app-login-modal>