<section class="d-flex align-items-center vh-100 px-3 custom-spacing">
    <div class="container d-flex align-items-center justify-content-between flex-column flex-md-row">
        <article class="col-md-6 mb-4 mb-md-0">
            <h1 class="display-4">Bem-vindo ao <span class="animated-text">Admin Flow</span></h1>
            <h3 class="text-muted mb-3">Seu sistema de gerenciamento de usuários</h3>
            <p class="lead">
                Administre de forma prática e eficiente. Cadastramento, edição e visualização de usuários em uma
                plataforma simplificada. Facilite o controle e tenha todas as informações em um só lugar.
            </p>
            <div class="d-flex justify-content-start">
                <button class="btn btn-login me-2" data-bs-toggle="modal" data-bs-target="#loginModal">Entrar</button>
                <a class="btn btn-cadastrar border-light" routerLink="/auth/cadastro">Cadastrar</a>
            </div>
        </article>
        <figure class="col-md-5 text-center">
            <img src="assets/img/banner-principal.jpg" class="img-fluid rounded shadow" alt="Imagem de boas-vindas">
            <figcaption class="sr-only">Imagem de boas-vindas ao Admin Flow</figcaption>
        </figure>
    </div>
</section>

<section class="d-flex flex-column align-items-center py-5 custom-spacing">
    <div class="container">
        <header class="text-center mb-5">
            <h2 class="display-5">Recursos do Admin Flow</h2>
            <p class="text-muted lead">
                Descubra como podemos ajudar a gerenciar seus usuários de forma eficaz e segura.
            </p>
        </header>
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <div class="card service-card shadow-sm mx-sm-1">
                    <div class="card-body text-start">
                        <img src="../../../assets/img/cadastro-usuarios.jpg" alt="Cadastro de Usuários"
                            class="mb-3 img-fluid rounded custom-hover">
                        <h5 class="card-title">Cadastro de Usuários</h5>
                        <p class="card-text">
                            Adicione novos usuários rapidamente com informações completas e organizadas. Ferramentas que
                            oferece agilidade e segurança no processo.
                        </p>
                        <div class="d-flex justify-content-start">
                            <a routerLink="/auth/cadastro" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card service-card shadow-sm mx-sm-1">
                    <div class="card-body text-start">
                        <img src="../../../assets/img/edicao-usuarios.jpg" alt="Edição de Usuários"
                            class="mb-3 img-fluid rounded custom-hover">
                        <h5 class="card-title">Edição de Usuários</h5>
                        <p class="card-text">
                            Atualize informações de usuários com facilidade. Faça ajustes rápidos com poucos cliques,
                            garantindo sempre dados atualizados.
                        </p>
                        <div class="d-flex justify-content-start">
                            <a routerLink="/relatorios" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card service-card shadow-sm mx-sm-1">
                    <div class="card-body text-start">
                        <img src="../../../assets/img/visualizar-usuarios.jpg" alt="Visualização de Usuários"
                            class="mb-3 img-fluid rounded custom-hover">
                        <h5 class="card-title">Usuários Cadastrados</h5>
                        <p class="card-text">
                            Consulte e organize os dados dos usuários com uma interface clara e intuitiva. Encontre
                            informações rapidamente, sempre que precisar.
                        </p>
                        <div class="d-flex justify-content-start">
                            <a routerLink="/relatorios" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-login-modal></app-login-modal>