<div class="cadastro-container w-100 d-flex align-items-center mt-5 justify-content-center vh-100">
    <div class="main-box d-flex flex-row flex-wrap justify-content-center align-items-start">
        <div class="cadastro-box p-5 shadow rounded me-md-3 mb-3">
            <h2 class="text-start mb-4">Cadastro</h2>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="firstName" class="form-label"><i class="fas fa-user"></i> Nome</label>
                            <input type="text" id="firstName" class="form-control" placeholder="Digite seu nome"
                                required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="lastName" class="form-label"><i class="fas fa-user"></i> Sobrenome</label>
                            <input type="text" id="lastName" class="form-control" placeholder="Digite seu sobrenome"
                                required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email" class="form-label"><i class="fas fa-envelope"></i> E-mail</label>
                            <input type="email" id="email" class="form-control" placeholder="Digite seu e-mail"
                                required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="age" class="form-label"><i class="fas fa-calendar-alt"></i> Idade</label>
                            <input type="number" id="age" class="form-control" placeholder="Digite sua idade" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="city" class="form-label"><i class="fas fa-map-marker-alt"></i> Cidade</label>
                            <input type="text" id="city" class="form-control" placeholder="Digite sua cidade" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="profession" class="form-label"><i class="fas fa-briefcase"></i>
                                Profissão</label>
                            <input type="text" id="profession" class="form-control" placeholder="Digite sua profissão"
                                required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-cadastro">Cadastrar</button>
            </form>
        </div>
        <div class="cadastro-options-box p-4 shadow rounded mb-3">
            <div class="text-center mb-3">
                Já tem uma conta? <a routerLink="/" class="forgot-password-link">Entrar</a>
            </div>
            <button class="btn btn-google w-100 d-flex align-items-center justify-content-center">
                <i class="fab fa-google me-2"></i> Entrar com o Google
            </button>
        </div>
    </div>
</div>